<div class="cards">
    
    <% results.forEach(function(list) { %>
        
        <article class="card">
        
            <header>
                <a href="<%= list['html_url'] %> " target="_blank"><%= list['name'] %></a>
            </header>

            <div class="card-content">
                <%= list['description'] %> 
            </div>

            <div class="card-content">
                <a href="<%= list['homepage'] %>" target="_blank">Check out this site live.</a>
            </div>

            <div class="card-content">
                <ul>
                    <li><%= list['topics'] %></li>
                </ul>
            </div>

            <div class="card-content">
                <%= list['url'] %>
            </div>

            <div class="card-footer">
                <%= list['updated_at'] %>
            </div>
        
        </article>

    <% }) %>

</div>